@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
body {
    background-color: #4d4d4d;
    color: white;
}

h1 {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-shadow: 4px 4px #000000;
}

p {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-shadow: 4px 4px #000000;
}

button {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    box-shadow: 5px 5px;
    background-color: white;
    border-radius: 25px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}